########
Options -Indexes
CheckSpelling off

########
#Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

########
ErrorDocument 400 /error.html
ErrorDocument 401 /error.html
ErrorDocument 402 /error.html
ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
ErrorDocument 500 /error.html

########
RewriteEngine on
RewriteRule ^copyright/$                          /copyright.html               [L]
RewriteRule ^imprint/$                            /imprint.html                 [L]
RewriteRule ^roadmap/$                            /roadmap.html                 [L]

########
